body {
    background-color: var(--background);
}

header {
    padding: 25px;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--headerBackground);
}

.wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 1640px;
}

.select-wrapper,
.select-wrapper-active {
    position: relative;
    width: 24%;
}

.select {
    position: relative;
    padding: 18px 15px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--grayBackground);
    font-size: 12px;
    font-weight: 700;
}

.select-wrapper::before,
.select-wrapper-active::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("assets/img/arrow-down.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    pointer-events: none;
}

.select-wrapper-active::before {
    background-image: url("assets/img/arrow-up.png");
}

.cards {
    margin: 90px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-card {
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 20%;
    min-width: 400px;
    background: var(--cardBackground);
    border-radius: 20px;
}

.user-card-header {
    display: flex;
    cursor: default;
}

.user-card-header > div {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-card-header__initials {
    position: relative;
    padding: 17px;
    width: 70px;
    height: 70px;
    background-color: var(--grayBackground);
    border-radius: 10px;
    font-size: 30px;
}

.user-card-header__initials > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-card-header__name {
    font-size: 24px;
}

.user-card-header__username {
    font-size: 16px;
}

.user-card-info {
    padding-top: 10px;
}

.user-card-info > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-card-info__item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}
