@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
}

:root {
    --headerBackground: #1F1F21;
    --background: #252627;
    --grayBackground: #545454;
    --cardBackground: #2C2D2D;
    --grayText: #878787;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
}

/*Explorer*/
select::-ms-expand {
    display: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

input:focus {
    outline: 0;
}

button {
    border: none;
    cursor: pointer;
}